[submodule "zsh/.local/share/powerlevel10k"]
	path = zsh/.local/share/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh/.local/share/zsh-autosuggestions"]
	path = zsh/.local/share/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
