[submodule ".vim/pack/erdongli/start/nerdtree"]
	path = .vim/pack/erdongli/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/erdongli/start/gruvbox"]
	path = .vim/pack/erdongli/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/erdongli/start/vim-airline"]
	path = .vim/pack/erdongli/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule ".vim/pack/erdongli/start/vim-airline-themes"]
	path = .vim/pack/erdongli/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule ".vim/pack/erdongli/start/syntastic"]
	path = .vim/pack/erdongli/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/erdongli/start/vim-go"]
	path = .vim/pack/erdongli/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "/Users/erdongli/.zsh/plugins/zsh-syntax-highlighting"]
	path = /Users/erdongli/.zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
